<template>
  <div class="app">
    <h1>Vue Listy</h1>
   <ul>
     <li v-for="item in list">
      <input type="text" @input="save" v-model="item.text">
      <input @input="save" type="checkbox" v-model="item.done" >
    </li>
   </ul>
 
   <form @submit.prevent="createNew" accept-charset="utf-8">
     <input v-model="newItem" type="text" name="newItem">
     <button type="submit">Submit</button>
   </form>
  </div>
</template>

<script>
  import '../assets/styles.scss'
export default {
  name: 'hello',
  data () {
    return {
      newItem: '',
      list: [
        {
          text: 'hi',
          done: false
      },
      {
          text: 'hi2',
          done: true
      }
    ]
    }
  },
  mounted() {
    let data = localStorage.getItem("data")
    if (data) {
      this.list = JSON.parse(data)
    } else {
      this.list = [
        {
          text: 'hi',
          done: false
      },
      {
          text: 'test',
          done: true
      }
    ]
    }
  },
 
  methods: { 
    save() {
      localStorage.setItem("data", JSON.stringify(this.list))
      console.log('saved')
    },
    createNew() {
      this.list.push({text: this.newItem, done: false})
      this.newItem = ''
  
    }
  }
}
</script>
