html,body {
	font-family: sans-serif;
	color: #2c3e50;
}


.app {
	padding: 2%;
	h1 {
		font-size: 3em;
		text-align: center;

	}
	ul {
		margin-top: 5%;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	li {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 2%;
		input[type="text"] {
			
			border: none;
			outline:none;
		}
		input[type="checkbox"] {
			margin-left: auto;
			padding: 2%;
		}
	}
	form {
		margin: 0px;
		position: fixed;
		bottom: 0;
		background-color: white;
	width: 100%;
		display: flex;

		padding-right: 4%;
		padding-bottom: 2%; 
		input[type="text"] {
			width: 70%;
			border:none;
			border-radius: 5px;
			background-color: #95a5a6;
			outline:none;
			padding: 2%;
			color: white;
		}
		button {
			margin-left: auto;
			border: none;
			border-radius: 5px;
			background-color: #2ecc71;
			color: white;
			font-weight: 500;
			font-size: 1.2em;
			padding: 2%;
		}
	}
}