<template>
  <div id="app">

   
      <router-view></router-view>
    
  </div>
</template>

<script>
  import "../node_modules/minireset.css/minireset.min.css"
export default {
  name: 'app'
}
</script>
